body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
.header,.footer{
    height: 50px;
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    color:#E5E7EB;
    align-items: center;
    padding:0 160px;
    font-family: Hero, sans-serif;
}
.footer{
    justify-content: center;
    font-size: 18px;
    
}
.logo{
    font-size: 24px;
    font-weight: 900;
    
}
.header-links{
    display: flex;
    list-style: none;
    gap: 10px;
    font-size:18px;
}
a{
    text-decoration: none;
    color:white;
}
.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.section-one{
    display: flex;
    background-color: #1F2937;
    padding: 40px 160px;
    gap: 40px;
}
h1{
    font-size: 48px;
    font-weight: 800;
    margin:0 0 0 0;
    font-family:Hero,sans-serif;
    color:#F9FAF8;
}
.sub-main-title{
    margin:0 0 15px 0;
    font-size:18px;
    color:#E5E7EB;
}
.sub-section-one{
    display: flex;
    flex-direction: column;
    flex:1;
}
.sub-section-one-image{
    display: flex;
    flex:1;
    background-color: gray;
    color:white;
    align-items: center;
    justify-content: center;
}
.section-one .sign-up{
    border: 2px solid #3882F6;
}
.section-two{
    text-align: center;
    padding:40px 160px;
}
h2{
 font-size: 30px;
 margin:0 0 40px 0;
}
.sub-section-two{
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px;
  }
.frame{
    display: flex;
    /*flex:1;*/
    justify-content: center;
    align-items: center;
    border:2px solid #3882F6;
    border-radius:8px;
    height: 150px;
    width:150px;
}
img{
    display: flex;
    flex: 1;
}
.section-three{
    background-color:#E5E7EB;
    padding:40px 220px;
    display: flex;
    flex-direction: column;
}
.quote-text{
font-size: 36px;
color:#1F2937;
margin:0;
}
.quote-author{
    display: flex;
    justify-content:flex-end;
    margin:0;
    font-weight: 900;
}
.section-four{
    padding:40px 160px;
}
.section-four-background{
    display: flex;
    background-color:#3882F6;
    border-radius: 6px;
    border: 2px solid #3882F6;
    color:white;
    padding: 20px 80px;
    justify-content: space-between;
    margin:0
}
.sub-section-four-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-four-background .sign-up{
    border: 2px solid white;  
}
p{
   margin:0
}
.section-four-title{
    font-size: 22px;
    font-weight: 900;
}
.section-four-text{
    font-size: 18px;
    color: #E5E7EB;
}
.sign-up{
 background-color:#3882F6;
 color:white;
 padding:5px 24px;
 border-radius:6px;
 margin:0;
 }
